<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'PartnersShowcase',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section class="showcase-wrapper">
    <SlpContainer>
      <SlpTypography v-if="data.title" tag="h2" variant="heading2-bold">
        {{ data.title }}
      </SlpTypography>
      <SlpRow ref="cards" class="slp-mb-md-94 slp-mb-64 cards">
        <SlpColumn
          v-for="item in data.items"
          :key="item.title"
          :cols="6"
          class="slp-mb-md-16"
        >
          <div
            v-if="data.variant === 'partners-showcase'"
            class="showcase-card__variant"
          >
            <nuxt-img
              v-if="item.image"
              class="slp-mb-24"
              :src="item.image.src"
              :alt="item.image.alt"
              loading="lazy"
            />
            <div>
              <SlpTypography tag="p" variant="body1">
                {{ item.title }}
              </SlpTypography>
            </div>
          </div>
          <div v-else class="showcase-card">
            <SlpIcon
              v-if="item.icon"
              class="slp-mb-24"
              :name="item.icon.name"
              :alt="item.icon.alt"
              :variant="item.icon.variant"
              size="md"
              slp-color="primary-200"
            />
            <div>
              <SlpTypography tag="h3" variant="heading5-bold">
                {{ item.title }}
              </SlpTypography>
            </div>
            <div>
              <SlpTypography v-if="item.text" tag="p" variant="body1">
                {{ item.text }}
              </SlpTypography>
            </div>
          </div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style scoped lang="scss">
.showcase-wrapper {
  background: $color-surface-50;
  padding: $spacing-64 0;

  h2 {
    margin-bottom: $spacing-64;
  }

  .slp-col-md-4 {
    padding-right: $spacing-16;
    padding-bottom: $spacing-16;
  }
}

.icon {
  margin-bottom: $spacing-16;
}

.cards {
  position: relative;
}

.showcase-card:hover {
  border-radius: 0px 0px 100px 0px;
  cursor: pointer;
}

.showcase-card {
  display: block;
  background: $color-surface-800;
  height: 100%;
  width: 90%;
  padding: $spacing-32 $spacing-24;
  transition: all 0.3s ease-in-out;
  position: relative;
  margin-bottom: $spacing-16;

  h3,
  p,
  a,
  span {
    color: $color-text-300;
  }

  h3 {
    display: block;
    margin-bottom: $spacing-16;
  }

  span {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    font-weight: $font-weight-bold;
    font-size: $text-body-2-bold;
    margin-top: $spacing-16;

    svg {
      margin-left: 10px;
    }
  }
}

.showcase-card__variant {
  display: block;
  background: $color-surface-800;
  height: 100%;
  width: 90%;
  padding: $spacing-32;
  transition: all 0.3s ease-in-out;
  position: relative;
  margin-bottom: $spacing-16;

  p,
  a,
  span {
    color: $color-text-300;
  }

  &:hover {
    border-radius: 0px 0px 100px 0px;
    cursor: pointer;
  }
}

@media (max-width: 767px) {
  .showcase-wrapper .slp-col-md-4 {
    padding-right: 0;
  }

  .cards {
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-bottom: 0;

    scrollbar-width: none; // hides scrollbar on Firefox
    -ms-overflow-style: none; // hides scrollbar on IE 10+

    &::-webkit-scrollbar {
      // hides scrollbar on browsers that use that use Webkit (Chrome, Safari, Opera, etc)
      width: 0;
      height: 0;
      display: none;
    }
  }

  .showcase-card {
    height: 100%;
    width: 270px;
    margin-right: $spacing-16;
  }
}
</style>
