<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { init } from 'aos';
import {
  CTA as CallToAction,
  Table as SlpTable,
  CopyMedia,
  Copy,
  CopyResources,
  SlpBlockquote,
  FeaturedMedia,
  NextStep,
} from '../../components/common/index';
import {
  CopyMediaCard,
  CompanyCopyCard as CopyCard,
} from '../../components/company/index';
import {
  TopicsCards,
  BenefitsIcons,
  TopicsHeader,
  TopicsCta,
  TopicsCopyBlock,
  TopicsEmphasis,
  TopicsInfoTable,
  TopicsBreadcrumb,
} from '../../components/topics/index';
import {
  OldTopicsHeader,
  OldTopicsCta,
  OldBenefitsIcons,
} from '../../components/topics/old/index.vue';
import { getPageMetadata } from '~/common/meta';
// Temporary components until old topics pages are updated. then these will be deleted

export default Vue.extend({
  components: {
    CallToAction,
    Copy,
    CopyResources,
    CopyCard,
    CopyMediaCard,
    CopyMedia,
    TopicsCards,
    TopicsCta,
    SlpBlockquote,
    BenefitsIcons,
    NextStep,
    TopicsHeader,
    TopicsCopyBlock,
    TopicsEmphasis,
    TopicsInfoTable,
    FeaturedMedia,
    SlpTable,
    OldTopicsHeader,
    OldTopicsCta,
    OldBenefitsIcons,
    TopicsBreadcrumb,
  },
  async asyncData({ $content, params, error }: any) {
    try {
      const topics = await $content(
        `topics/${params.topics ? params.topics : 'index'}`,
      ).fetch();
      return { topics };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).topics, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
});
</script>

<template>
  <div>
    <SlpContainer>
      <component
        :is="component.name"
        v-for="(component, index) in topics.components"
        :key="component.name + `-${index}`"
        :data="component.data"
      />
    </SlpContainer>
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>

<style scoped lang="scss"></style>
