<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      headers: [],
      processedTableData: [],
      maxColumnLength: 0,
    };
  },
  mounted() {
    this.setColumnLength();
    this.processDataIntoRows();
  },
  methods: {
    setColumnLength() {
      this.data.categories.forEach((category) => {
        this.maxColumnLength =
          category.cells.length > this.maxColumnLength
            ? category.cells.length
            : this.maxColumnLength;
      });
    },
    processDataIntoRows() {
      this.data.categories.forEach((category) => {
        this.headers = [...this.headers, category.header];
        for (let i = 0; i < this.maxColumnLength; i++) {
          if (!this.processedTableData[i]) {
            this.processedTableData[i] = [];
          }
          this.processedTableData[i] = [
            ...this.processedTableData[i],
            category.cells[i] || null,
          ];
        }
      });
    },
  },
});
</script>

<template>
  <div class="comparison-table">
    <div class="comparison-table-wrapper">
      <div class="title">
        <SlpTypography v-if="data.title" variant="heading2-bold" tag="h2">
          {{ data.title }}
        </SlpTypography>
      </div>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th v-for="header in headers" :key="header" class="header">
                <SlpTypography variant="body2-bold">{{
                  header.text
                }}</SlpTypography>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(row, rowIndex) in processedTableData"
              :key="`row-${rowIndex}`"
            >
              <td
                v-for="(cell, cellIndex) in row"
                :key="`${rowIndex}-${cellIndex}`"
                :class="{ data: cell }"
              >
                <div v-if="cell" class="content">
                  <a :href="cell.href">
                    <SlpTypography
                      variant="body3"
                      :class="{ italics: cell.italics }"
                      >{{ cell.label }}</SlpTypography
                    >
                  </a>
                  <div class="logo-container">
                    <a :href="cell.logo1?.href">
                      <img :src="cell.logo1?.image" alt="" class="logo" />
                    </a>
                    <a :href="cell.logo2?.href">
                      <img :src="cell.logo2?.image" alt="" class="logo" />
                    </a>
                    <a :href="cell.logo3?.href">
                      <img :src="cell.logo3?.image" alt="" class="logo" />
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="footer">
        <div class="legend">
          <SlpTypography variant="body1-bold" class="legend-header">
            Legend
          </SlpTypography>
          <div class="legend-wrapper">
            <div class="legend-box">
              <SlpTypography variant="body1-bold">
                Companies Compared
              </SlpTypography>
              <div class="legend-items competitors">
                <div
                  v-for="item in data.legend"
                  :key="item.label"
                  class="legend-items__item"
                >
                  <img
                    :src="item.logo"
                    alt=""
                    class="legend-items__logo"
                    :class="{ spaced: item.spaced }"
                  />
                  <SlpTypography variant="body3-bold">
                    {{ item.label }}</SlpTypography
                  >
                </div>
              </div>
            </div>
            <div class="legend-box">
              <SlpTypography variant="body1-bold">
                Capability Measures
              </SlpTypography>
              <div class="legend-items">
                <div class="legend-items__item">
                  <span class="harvey quarters full"></span>
                  <SlpTypography variant="body3-bold">
                    Comprehensive</SlpTypography
                  >
                </div>
                <div class="legend-items__item">
                  <span class="harvey quarters three-quarters"></span>
                  <SlpTypography variant="body3-bold"> Good</SlpTypography>
                </div>

                <div class="legend-items__item">
                  <span class="harvey quarters half"></span>
                  <SlpTypography variant="body3-bold"> Adequate</SlpTypography>
                </div>
                <div class="legend-items__item">
                  <span class="harvey quarters"></span>
                  <SlpTypography variant="body3-bold"> Basic</SlpTypography>
                </div>
                <div class="legend-items__item">
                  <span class="harvey"></span>
                  <SlpTypography variant="body3-bold">
                    Little or no capability</SlpTypography
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div v-if="data.footer_notes">
          <SlpTypography
            v-for="note in data.footer_notes"
            :key="note"
            class="footer-note"
            variant="body3"
            tag="p"
            >{{ note }}</SlpTypography
          >
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.comparison-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-wrapper {
    max-width: 100%;
  }
  padding: 0 5%;
  @media (max-width: $breakpoint-md) {
    padding: 0;
  }
}
.table-wrapper {
  width: 100%;
  overflow-x: scroll;
}
.title {
  margin-bottom: 32px;
  @media (min-width: $breakpoint-md) {
    max-width: 50%;
  }
}
a {
  color: $color-text-300;
}
.header {
  background: #c9abeb;
  border: 1px solid #cccccc;
  padding: 8px 0;
}
.footer {
  margin-top: 16px;
  @media (max-width: $breakpoint-lg) {
    padding: 0 5%;
  }
  &-note {
    font-style: italic;
  }
}
.data {
  border: 1px solid #cccccc;
  padding: 8px;
  .content {
    height: 100%;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .italics {
      font-style: italic;
    }
    .logo-container {
      display: flex;
      margin-top: 8px;
      .logo {
        max-height: 42px;
      }
    }
  }
}
table {
  border-collapse: collapse;
}

.legend-box {
  border: 1px solid $color-surface-300;
  padding: 32px;
  width: 50%;
}
.legend-wrapper {
  display: flex;
  margin: 16px 0;
}

.legend-items {
  display: flex;
  white-space: nowrap;
  margin: 24px 0;
  flex-wrap: wrap;
  &.competitors {
    margin-left: -8px;
    .legend-items__item {
      flex-basis: 20%;
    }
  }
  @media (max-width: $breakpoint-lg) {
    flex-direction: column;
    white-space: normal;
  }
  &__logo {
    max-height: 42px;
    &.spaced {
      margin-right: 8px;
    }
  }
  &__item {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    min-width: 90px;
    margin-right: 32px;
    @media (max-width: $breakpoint-lg) {
      margin-bottom: 16px;
    }
  }
}

$ball-size: 32px;
.harvey {
  min-width: $ball-size;
  width: $ball-size;
  height: $ball-size;
  display: block;
  margin-right: 16px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  background: #909090;
}
.harvey.quarters {
  &:before {
    content: ' ';
    display: block;
    border-right: solid 1px transparent;
    border-left: solid 1px transparent;
    background: #fca326;
    width: calc($ball-size/2);
    height: calc($ball-size/2);
    position: absolute;
    right: 0;
  }
}
.harvey.half {
  &:before {
    height: $ball-size;
  }
}
.harvey.three-quarters {
  &:before {
    height: $ball-size;
  }
  &:after {
    content: ' ';
    display: block;
    border: solid 1px transparent;
    background-color: #fca326;
    width: $ball-size;
    height: calc($ball-size/2);
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.harvey.quarters.full {
  &:before {
    height: $ball-size;
    width: $ball-size;
  }
}

// These are used to make the content div fill the cell height
tr {
  height: 1px;
}
td {
  height: inherit;
}
th,
td {
  min-width: 200px;
}
</style>
